body {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-weight: 700;
  font-size: 50px;
  color: #000;
}
.container {
  width: 1440px;
  padding-top: 105px;
  padding-right: 93px;
  padding-left: 164px;
}
.wrapper {
  display: flex;
  gap: 222px;
}

.wrapper__settings {

  font-weight: 400;
  color: #000;
}
.name__setting {
  margin-bottom: 13px;
  margin-top: 42px;
  display: block;
  font-size: 35px;
  cursor: auto;
}

select,
.input-text {
   padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 21px;
  width: 393px;
  display: block;
  border: 1px solid #000;
  border-radius: 15px;
  font-size: 25px;
}

.image {
  margin-top: 76px;
  position: relative;
  display: block;
  text-align: center;
}
img {
  display: block;
  object-fit: contain;
}
.image__text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-text_top,
.image-text_bottom {
  display: inline-block;
  position: absolute;
   font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: #fff;
}
.image-text_top {
  top: 22px;
}
.image-text_bottom {
  bottom: 30px;
}

.error {
  margin-top: 10px;
  font-weight: 400;
  font-size: 25px;
  color: red;
}
label {
 margin-bottom: 20px;
  font-size: 30px;
  padding-left: 10px;
  margin-right: 20px;

}
.color__select {
  display: flex;
  flex-direction: column;
 
}
